@import "tailwindcss";



body {
  margin: 20px;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* flex-direction: column; */
  /* place-items: center; */
  min-width: 100vw;
  min-height: 100vh;
  /* background-color: #242424; */
}
